<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>殿</string>
	<string>山</string>
	<string>园</string>
	<string>宫</string>
	<string>湖</string>
	<string>镇</string>
	<string>东</string>
	<string>西</string>
	<string>南</string>
	<string>北</string>
	<string>闲</string>
	<string>水</string>
	<string>景</string>
	<string>街</string>
	<string>寺</string>
	<string>湖</string>
	<string>海</string>
	<string>馆</string>
	<string>塔</string>
	<string>院</string>
	<string>瀑</string>
	<string>城</string>
	<string>江</string>
	<string>关</string>
	<string>池</string>
	<string>影</string>
	<string>佛</string>
	<string>故</string>
	<string>潭</string>
	<string>湖</string>
	<string>镇</string>
	<string>东</string>
	<string>西</string>
	<string>南</string>
	<string>北</string>
	<string>闲</string>
	<string>水</string>
	<string>景</string>
	<string>街</string>
	<string>寺</string>
	<string>湖</string>
	<string>海</string>
</array>
</plist>
